.p-button.show-all-btn {
  background: linear-gradient(
    to left,
    var(--primary-600) 50%,
    var(--primary-700) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--primary-700);

  i {
    line-height: 2.25rem;
  }
}
.p-button.show-all-btn:hover {
  background-position: left bottom;
}
.p-button.show-all-btn i {
  background-color: var(--primary-700);
}
.p-button.show-all-btn:focus {
  box-shadow: 0 0 0 1px var(--primary-400);
}

@media screen and (max-width: 640px) {
  .p-button.show-all-btn {
    margin-bottom: 0.5rem;

    &:not(.p-button-icon-only) {
      display: flex;
      width: 100%;
    }
  }
}
